# Object files
*.o
# binaries (not sure how to include linux ones)
*.exe
#
# Editor files
*.swp

# ctags tag file
tags
# Our output binaries
client
fountain
server
fountain_test
# those dSYM directories that valgrind likes
*.dSYM/
